:root {
    --primary-color-dark: #003366;
    --accent-color-yellow: #FFD700;
    --base-color-black: #000000;
    --neutral-color-dark: #201f1f;
    --neutral-color-light: #eaf1fc;
    --base-color-white: #FFFFFF;
    --cta-color: #0946a6;
    --cta-subtitle: #939393;
}

/* Estilos globales */
body {
    background-color: var(--neutral-color-light);
    color: var(--base-color-black);
    font-family: 'Noto Sans Carian' , sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    color: var(--primary-color-dark);
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

p {
    color: var(--neutral-color-dark);
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    padding: 60px 0;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../img/container.jpg");
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

.subtitle {
    color: var(--cta-subtitle);
    font-size: .9rem;
    text-decoration: underline;
    text-decoration-color: var(--cta-subtitle);
}

.title{
    margin-top: 1rem;
    color: var(--base-color-white);
    font-size: 2.5rem;
}

/* Navegación */
#nav-primary {
    background-color: #3e3e3e;
    transition: all 0.4s ease;
    padding: 1rem 0;
    position: relative;
    z-index: 100;
    border-bottom: 1px solid #333;
}

#nav-primary.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#nav-primary .nav-link {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.75rem 1rem;
    font-weight: bold;
}

#nav-primary .nav-link:hover {
    color: #ffc107;
}

.navbar-nav .nav-link.active {
    color: var(--accent-color-yellow) !important;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-width: 50px;
    }
}

/* Hero Section */
.caption-bg {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

/* Efecto de sombra para el texto */
.text-shadow {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Personalización de los botones */
.custom-btn {
    background-color: var(--accent-color-yellow);
    color: var(--base-color-black);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
    background-color: var(--base-color-white) !important;
    color: var(--base-color-white);
    transform: scale(1.05);
}

/* Estilos para las imágenes del carrusel */
.carousel-item img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.75);
}

/* Personalización de los controles del carrusel */
.custom-control {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.custom-control:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* Indicadores del carrusel */
.carousel-indicators li {
    background-color: var(--accent-color-yellow);
    border: none;
}

.carousel-indicators .active {
    background-color: var(--base-color-white);
}

/* Textos */
.color-primary {
    color: var(--accent-color-yellow);
}
.carousel-caption h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--base-color-white);
}

.carousel-caption p {
    font-size: 1.25rem;
    color: var(--neutral-color-light);
}

@media (max-width: 768px) {
    .carousel-caption h1 {
        font-size: 1.75rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    .custom-btn {
        padding: 10px 20px;
        font-size: 1rem;
    }
}

/* Botones */
.btn-warning {
    color: #1e1e1e;
    font-weight: bold;
    background-color: var(--accent-color-yellow);
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-warning:hover {
    background-color: var(--cta-color);
    border: 1px solid var(--cta-color);
    color: var(--base-color-white);
}

.btn-service {
    width: 100% !important;
    margin-bottom: 0 !important;
    background-color: var(--neutral-color-dark);
    color: var(--neutral-color-light);
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0 0 5px 5px;
    transition: background-color 0.3s ease;
}

.btn-service:hover {
    background-color: var(--accent-color-yellow);
    color: var(--base-color-black);
}

/* Iconos y wrappers */
.icon-wrapper {
    background-color: var(--accent-color-yellow);
    color: var(--base-color-black);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.icon-wrapper i {
    font-size: 2rem;
}

/* Imágenes */
.img-service, .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.img-service:hover, .card-img-top:hover {
    transform: scale(1.05);
}

.card-img-container {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top-service {
    width: 100%;
    max-height: 200px;
    height: auto;
    object-fit: cover;
}

/* Tarjetas (equipos y servicios) */
.card-equipo, .service-card {
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-equipo:hover, .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

/* Footer */
footer {
    background-color: var(--base-color-black);
    color: var(--base-color-white);
    padding: 20px 0;
    text-align: center;
}

footer p {
    color: var(--neutral-color-light);
    font-size: 1rem;
}

footer a {
    color: var(--base-color-white);
    font-size: 1.5rem;
    margin: 0 15px;
}

.copy {
    font-size: 0.9rem;
}

.copy a {
    color: var(--accent-color-yellow) !important;
    font-size: 0.9rem;
    margin-left: 0;
}

footer a:hover {
    color: var(--accent-color-yellow);
    transition: color 0.3s ease;
}

/* Animación para tarjetas */
.card {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease-in-out;
}

.card.appear {
    opacity: 1;
    transform: translateY(0);
}

/* Media Queries */
@media (max-width: 767.98px) {
    .service-content {
        margin-top: 20px;
    }
}

/* Bloques de contenido con colores */
.block-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.block-text {
    font-size: 1.1rem;
}

.block-experience, .block-quality, .block-safety, .block-commitment, .block-innovation {
    transition: all 0.3s ease;
}

.block-experience {
    background-color: #f8f9fa;
}

.block-quality {
    background-color: #e9ecef;
}

.block-safety {
    background-color: #f8f9fa;
}

.block-commitment {
    background-color: #e9ecef;
}

.block-innovation {
    background-color: #f8f9fa;
}

/* Efectos hover en bloques */
.block-experience:hover,
.block-quality:hover,
.block-safety:hover,
.block-commitment:hover,
.block-innovation:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.icon-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.service-img-container {
    width: 100%;
    height: 200px; /* Tamaño fijo para uniformidad */
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.service-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que todas las imágenes se ajusten correctamente */
}